
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="preloader"></div>
<div class="mg-page-title parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
            </div>
        </div>
    </div>
</div>
<div class="mg-about-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mg-about-us-txt">
                    <div class="mg-sec-title undefined">
                        <h2>About AzTU Student Hostel</h2>
                        <p>Azerbaijan Texncial University Student Hostel System</p>
                    </div>
                    <p>Consectetur adipisicing elit. Concursionibus iudicabit fastidii victi iniurias eadem, fecisse odit miserius corporum dictum ponit disputatione magnos pauca divinum, diceretur quaerimus quaeri quicquam gratissimo qua operam imperiis minuit institutionem, securi terentii caelo maiorem nixam democritus quaeso. Lineam pellat simplicem quaerendi laborat pluribus indoctis.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="video-responsive">
                    <iframe src="https://player.vimeo.com/video/134008155" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-about-testimonial parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title undefined">
                    <h2>Testimonials</h2>
                    <p>Here is some valuable word from our clients</p>
                </div>
                <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                    <blockquote>
                        <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti. Coercendi fabulas sequatur dolorem nominant, faciendum dicitis perpauca intervenire calere.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                    <blockquote>
                        <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti. Coercendi fabulas sequatur dolorem nominant, faciendum dicitis perpauca intervenire calere.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                    <blockquote>
                        <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti. Coercendi fabulas sequatur dolorem nominant, faciendum dicitis perpauca intervenire calere.</p>
                        <footer>John Doe, Example Inc</footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title undefined">
                    <h2>Our Stuff</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="mg-team-member">
                    <figure><img class="img-fluid" src="~/images/member1.png" alt="" /></figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3><strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mg-team-member">
                    <figure><img class="img-fluid" src="~/images/member2.png" alt="" /></figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3><strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mg-team-member">
                    <figure><img class="img-fluid" src="~/images/member3.png" alt="" /></figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3><strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="mg-team-member">
                    <figure><img class="img-fluid" src="~/images/member4.png" alt="" /></figure>
                    <div class="mg-team-member-overlayer"></div>
                    <div class="mg-team-info">
                        <h3>Joseph Gonzales</h3><strong>Manager</strong>
                        <ul class="mg-team-member-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mg-about-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-part-logos-full" id="mg-part-logos-full">
                    <li><img src="~/images/partner/part-logo-5.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-6.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-7.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-8.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-9.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-5.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-6.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-7.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-8.png" alt="Partner Logo" /></li>
                    <li><img src="~/images/partner/part-logo-9.png" alt="Partner Logo" /></li>
                </div>
            </div>
        </div>
    </div>
</div>